<%-include("./partials/header.ejs")%>

<div class="container">
	
	<h2>FAQs</h2>
	<p>
		<b>
			Find out everything you need to get started by taking the tour. If you still need help contact us: <em >gafaq@gmail.com</em>
		</b>
		<br>
		<br>
		<b>1. What types of questions should I avoid asking?</b>
		<p>You should only ask practical, answerable questions based on actual problems that you face. Chatty, open-ended questions diminish the usefulness of our site and push other questions off the front page. Your questions should be reasonably scoped. If you can imagine an entire book that answers your question, you’re asking too much.
		</p>		

		<br>

		<b>2. How do I ask a good question?</b>
		<p>In the body of your question, start by expanding on the summary you put in the title. Explain how you encountered the problem you're trying to solve, and any difficulties that have prevented you from solving it yourself. The first paragraph in your question is the second thing most readers will see, so make it as engaging and informative as possible.	Your questions should be reasonably scoped. If you can imagine an entire book that answers your question, you’re asking too much.
		</p>

		<br>

		<b>3. What are tags, and how should I use them?</b>
		<p>
			A tag is a word or phrase that describes the topic of the question. Tags are a means of connecting experts with questions they will be able to answer by sorting questions into specific, well-defined categories. Tags can also be used to help you identify questions that are interesting or relevant to you.
		</p>

	</p>
</div>

<%-include("./partials/footer.ejs")%>